:root {
    --primary: #2F6D80;
    --primary-light: #77e4e1;
    --secondary-main: #F79489;
    --secondary-light: #F8AFA6;
    --gray-light: #B1B1B1;
}

/* overview */
/* ResourcesageCard */
.usageCard{
    box-shadow: 0px 0px 0px #2B4560;
    color: var(--primary);
    -webkit-transition:  all .3s ease-out;
       box-shadow: .8px .9px 3px #2B4560;
}
  
.usageCard:hover{
    box-shadow: 1px 8px 20px #2B4560;
    -webkit-transition:  all .3s ease-in;
      color: #fff;
      background-color: var(--primary);
}
  
.usageCardHeader{
    color: var(--primary);
}
  
.usageCard:hover .usageCardHeader{
    -webkit-transition:  all .3s ease-in;
      color: #fff;
}

/* TagCard */
#addBtn{
    color: #fff;
    border-radius: 20px;
    padding: 4px 16px;
}